body {
    font-size: 1.25rem;  
}

h1, h2, h3, h4, h5, h6 {
    font-size: 3rem;  /* Увеличивает размер шрифта для заголовков */
}

input[type="checkbox"] {
    transform: scale(1.5); /* Увеличивает чекбокс */
    margin-right: 10px;   /* Добавляет отступ справа для чекбокса */
}

input[type="text"] {
    width: 100px;  /* Устанавливает ширину полей для ввода текста */
    font-size: 16px; /* Увеличивает размер шрифта внутри полей ввода */
}

input[type="submit"] {
    font-size: 16px;  /* Увеличивает размер шрифта кнопки */
    padding: 10px 20px; /* Увеличивает размер кнопки */
    cursor: pointer; /* Делает курсор в виде руки при наведении */
}
